<div class="flex item-center justify-center gap-6 py-8">
  <!-- Facebook -->
  <div content="{{ settings.social_facebook }}">
    <a href="{{ settings.social_facebook }}" target="_blank">
      {% render 'facebook-icon' %}
    </a>
  </div>

  <!-- Twitter -->
  <div content="{{ settings.social_twitter }}">
    <a href="{{ settings.social_twitter }}" target="_blank">
      {% render 'twitter-icon' %}
    </a>
  </div>

  <!-- Instagram -->
  <div content="{{ settings.social_instagram }}">
    <a href="{{ settings.social_instagram }}" target="_blank">
      {% render 'instagram-icon' %}
    </a>
  </div>

  <!-- Youtube -->
  <div content="{{ settings.social_instagram }}">
    <a href="{{ settings.social_instagram }}" target="_blank">
      {% render 'youtube-icon' %}
    </a>
  </div>

</div>