{% paginate collection.products by 12 %}
    
    {% if collection.products != blank %}
        <h2 class="font-bold text-center text-gray-500 uppercase text-6xl lg:text-lg">{{ collection.title }}</h2>
    {% endif %}
  
    {% assign productCount = collection.all_products_count %}
    <h1 class="text-center text-3xl lg:text-sm">There are {{ productCount }} number of products here</h1>

    <div class="grid sm:grid-cols-1 place-items-center gap-4 lg:grid-cols-3">

        {% for product in collection.products %}
            <div class="col-md-1 bg-gray-100 p-2 shadow-sm mt-3 rounded-l shadow-green-400 transform transition duration-500 hover:scale-110">
                <div class="product-item w-full lg:w-60">
                                  
                    {% if product.featured_image != blank %}
                        <a href="{{ product.url | within: collection }}">
                            {{ product.featured_image | image_url: width: "800x800" | image_tag: loading: 'lazy' }}
                            <hr>
                            <div class="flex justify-evenly items-center w-full">
                                <h3 class="text-3xl lg:text-sm">{{ product.title }}</h3>
                                <h3 class="text-green-600 font-bold text-3xl lg:text-sm">{{ product.price | money }}</h3>
                            </div>
                        </a>

                    {% endif %}
                </div>

                {% if productCount == 0 %}
                    <div class="col-md-4">
                      <h4 class="text-center">
                          No products
                      </h4>
                    </div>
                {% endif %}

            </div>
      
        {% endfor %}
    </div>
    <p class="text-center text-green-400 py-4 font-bold">{{ paginate | default_pagination }}</p>
            
{% endpaginate %}
      
      
      